.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: var(--main-color);
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background-color: var(--main-color);
    color: #ffffff;
    border: 0
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}