.team {
    margin: 4em 0;
    position: relative;
}

.team h1 {
    color: var(--main-color);
    margin: 2em;
}

.team .item {
    position: relative;
}

.team .des {
    background: var(--main-color);
    color: #ffffff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;
}

.team .item:hover .des {
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}
